BASE_DISCORD_API_URL=https://discord.com/api
BASE_DISCORD_CDN_URL=https://cdn.discordapp.com
DISCORD_API_VERSION=10
DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
TESTING_GUILD_ID=
PRESTO_ENVIRONMENT=
DEBUG_FLAGS=